@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.contactSection {
  padding: 50px 0;
}
.contactContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  align-items: center;
}
.contactContent h2 {
  color: #344054;
  text-align: center;
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}
.contactContent h2 span {
  color: #fd853a;
}
/* Title end */

.contactContent > form {
  width: 110%;
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #e4e7ec;
  --webkit-backdrop-filter: blur(7.5px);
}
.contactContent > form > div {
  border-radius: 50px;
  background: #fd853a6c;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactContent > form input {
  background-color: transparent;
  border: none;
  width: 76%;
  color: black;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  outline: none;
}
.contactContent > form button {
  width: 15%;
  border-radius: 60px;
  background: #fd853a;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border: none;

  color: #fff;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.successMessage {
  color: #fd853a;
  font-family: "Roboto";
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .contactContent {
    width: 90%;
  }
  .contactContent > form {
    width: 98%;
  }
  .contactContent h2 {
    font-size: 40px;
  }
  .contactContent > form input {
    margin-left: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .contactContent {
    width: 80%;
  }
  .contactContent h2 {
    font-size: 48px;
  }
  .contactContent > form input {
    margin-left: 10px;
  }
}
