@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.services {
  background: linear-gradient(rgba(23, 23, 23, 0.7), rgba(23, 23, 23, 0.7)),
    url("../assets/img/ServicesBg.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171717;
  border-radius: 50px;
  padding: 110px 0;
}
.services .servicesContent {
  width: 90%;
  margin: auto;
}
/* Title */

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.info h2 {
  color: #fcfcfd;
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.72px;
}
.info h2 span {
  color: #fd853a;
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.72px;
}
.info p {
  width: 48%;
  color: var(--white, #fff);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

/* Service Boxes */

.serviceBoxes {
  display: flex;
  justify-content: space-between;
}
.serviceBoxes > div {
  width: 32%;
  fill: rgba(104, 104, 104, 0.2);
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 2px solid rgba(249, 250, 251, 0.3);
  border-radius: 50px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
  cursor: pointer;
}
.serviceBoxes > div:hover {
  background-color: #fd853aba;
  border: 2px solid white;
}
.serviceBoxes > div div {
  width: 100%;
  padding: 44px 37px;
  border-bottom: 2px solid rgba(249, 250, 251, 0.3);
}
.serviceBoxes div div h3 {
  color: #fff;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.serviceBoxes div img {
  width: 100%;
  border-radius: 50px;
  height: 300px;
  /* border-top: 2px solid rgba(249, 250, 251, 0.3); */
}

@media only screen and (max-width: 768px) {
  .services {
    padding: 55px 0;
  }
  .info {
    flex-direction: column;
  }
  .info p {
    width: 98%;
    text-align: center;
    margin-top: 20px;
  }

  .serviceBoxes {
    flex-direction: column;
    gap: 20px;
  }
  .serviceBoxes div {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .serviceBoxes {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .serviceBoxes div {
    width: 48%;
  }
}
